.Herobox-container {
  justify-self: center;
  padding: 40px;
}
.Herobox-container > h1 {
  font-size: 35px;
  text-transform: uppercase;
  word-spacing: 5px;
  margin-bottom: 40px;
}
.Herobox-container > h2 {
  word-spacing: 10px;
  font-size: 30px;
}
